*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.recipe-box{
    text-align: center;
    border: 5px ridge black;
    height:150px;
    width: 300px;
    margin: auto;
}

.recipe-name,
.page-title{
    font-family: "Times New Roman",Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: brown;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.recipe-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:15px;
    list-style-type: none;
    margin: 20px auto;
}

.ingredients-list{
    list-style-type: none;
}

.ingredients-list-item{
    padding: 3.5px;
}

.page,
.recipe-page{
    background-color: beige;
}

.description-head,
.ingredients-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: brown;
}

.image{
    display: block;
    margin: 30px auto;
}

.description-box,
.ingredients-box{
    width: 750px;
    margin: 15px auto;
    text-align: center;
    border: 5px ridge black;
    padding: 12.5px;
}
